@use 'vuetify' with (
  $utilities: (
    'cursor': (
      property: cursor,
      class: cursor,
      values: alias all-scroll auto cell col-resize context-menu copy crosshair
        default e-resize ew-resize grab grabbing help move n-resize ne-resize
        nesw-resize ns-resize nw-resize nwse-resize no-drop none not-allowed
        pointer progress row-resize s-resize se-resize sw-resize text url
        w-resize wait zoom-in zoom-out,
    ),
    'scroll': (
      property: scroll-behavior,
      class: scroll,
      values: smooth auto,
    ),
  )
);

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.btn-social {
  justify-content: stretch;

  .v-btn__prepend {
    margin-left: 8px;
    margin-right: 8px;
  }

  .v-btn__content {
    margin-left: -46px;
    width: 100%;
  }
}

.cropper-wrapper {
  width: 100%;
  background: rgb(var(--v-theme-surface-variant));
  overflow: hidden;
  position: relative;

  .cropper {
    width: 100%;
    height: 100%;
  }

  .cropper-background {
    background: none;
  }

  .image-background {
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: -10px;
    top: -10px;
    background-size: cover;
    background-position: 50%;
    filter: blur(5px);
  }
}

.emoji-mart {
  background: rgb(var(--v-theme-surface-container-high)) !important;
  color: rgb(var(--v-theme-on-surface)) !important;
  border: transparent !important;

  .emoji-mart-bar-anchors {
    border-bottom: 1px solid rgba(var(--v-theme-outline), 0.25) !important;

    .emoji-mart-anchor-selected {
      color: rgb(var(--v-theme-primary)) !important;
    }

    .emoji-mart-anchor-bar {
      background-color: rgb(var(--v-theme-primary)) !important;
    }
  }

  .emoji-mart-bar-preview {
    border-top: 1px solid rgba(var(--v-theme-outline), 0.25) !important;
  }

  .emoji-mart-category-label {
    background: rgb(var(--v-theme-surface-container-hight)) !important;
    color: rgb(var(--v-theme-on-surface)) !important;
  }

  .emoji-mart-search input {
    border: 1px solid rgb(var(--v-theme-outline)) !important;
  }
}

html {
  overflow: auto;
}

*::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

*::-webkit-scrollbar-track {
  background-color: rgb(var(--v-theme-surface-variant));
}

*::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 3px solid rgb(var(--v-theme-surface-variant));
  background-color: rgba(var(--v-theme-primary), 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--v-theme-primary), 0.75);
}
